<template>
  <div id="app">
    <div>
  <b-nav fill tabs>
    <b-nav-item active>Home</b-nav-item>
    <b-nav-item>Input</b-nav-item>
    <b-nav-item>Outbut</b-nav-item>
  </b-nav>
</div>
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Project Negara Dmitrii"/>
    <input type="text" placeholder="X"><br><br>
    <input type="text" placeholder="Y"><br><br>
    
     <b-button>Summ</b-button>
  </div>

</template>







<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
